{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        seancorfield/next.jdbc {:mvn/version "1.0.13"}
        com.h2database/h2 {:mvn/version "1.4.199"}
        honeysql {:mvn/version "0.9.8"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :aliases
 {:dev {:extra-paths ["dev"]}}}